$white:       #FFF;
$grey:        #9E9E9E !default;
$grey-light:  #E0E0E0 !default;
$grey-dark:   #424242 !default;

$red:         #F44336 !default;
$red-light:   #E57373 !default;
$red-dark:    #C62828 !default;

$pink:        #E91E63 !default;
$pink-light:  #F06292 !default;
$pink-dark:   #AD1457 !default;

$purple:      #9C27B0 !default;
$purple-light:#BA68C8 !default;
$purple-dark: #6A1B9A !default;

$deep-purple:       #673AB7 !default;
$deep-purple-light: #9575CD !default;
$deep-purple-dark:  #4527A0 !default;

$indigo:      #3F51B5 !default;
$indigo-light:#7986CB !default;
$indigo-dark: #283593 !default;

$blue:        #2196F3 !default;
$blue-light:  #64B5F6 !default;
$blue-dark:   #1565C0 !default;

$light-blue:        #03A9F4 !default;
$light-blue-light:  #4FC3F7 !default;
$light-blue-dark:   #0277BD !default;

$cyan:        #00BCD4 !default;
$cyan-light:  #4DD0E1 !default;
$cyan-dark:   #00838F !default;

$teal:        #009688 !default;
$teal-light:  #4DB6AC !default;
$teal-dark:   #00695C !default;

$green:       #4CAF50 !default;
$green-light: #81C784 !default;
$green-dark:  #2E7D32 !default;

$light-green:       #8BC34A !default;
$light-green-light: #AED581 !default;
$light-green-dark:  #558B2F !default;

$lime:        #CDDC39 !default;
$lime-light:  #DCE775 !default;
$lime-dark:   #9E9D24 !default;

$yellow:      #FFEB3B !default;
$yellow-light:#FFF176 !default;
$yellow-dark: #F9A825 !default;

$amber:       #FFC107 !default;
$amber-light: #FFD54F !default;
$amber-dark:  #FF8F00 !default;

$orange:      #FF9800 !default;
$orange-light:#FFB74D !default;
$orange-dark: #EF6C00 !default;

$deep-orange:       #FF5722 !default;
$deep-orange-light: #FF8A65 !default;
$deep-orange-dark:  #D84315 !default;

$brown:       #795548 !default;
$brown-light: #A1887F !default;
$brown-dark:  #4E342E !default;

$blue-grey:         #607D8B !default;
$blue-grey-light:   #90A4AE !default;
$blue-grey-dark:    #37474F !default;
